<ion-view title="{{categoryName | capitalize}}">
  <div class="bar bar-header">
    <h1 class="title">Header</h1>
  </div>

  <!-- Right side nav menu button -->

  <ion-nav-buttons side="right">
    <button menu-toggle="right"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <!-- Search field -->

  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="What do you want to recycle?" ng-model="search.item.name">
    </label>
  </div>

  <!-- View content (list of items) -->

  <ion-content class="has-subheader">
    <ul class="list">
      <li class="item item-button-right" ng-repeat="item in items | filter:search" ng-click="goToItemDetail(item)">
        {{item.item.name}}
        <button class="button button-positive">
          <i class="icon ion-star"></i>
        </button>
      </li>
    </ul>
  </ion-content>
</ion-view>
