<ion-view title="Categories" left-buttons="leftButtons"  hide-back-button="true">

  <!-- top buttons -->

  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input class="js-searchField" type="search" placeholder="What do you want to recycle?" ng-model="search.item.name">
    </label>
    <button class="button button-small button-energized" ng-if="search.item.name != ''" ng-click="clearSearchField()">
      Cancel
    </button>
  </div>

  <!-- content -->

  <ion-content class="has-subheader item-animate" ng-show="search.item.name != ''">
    <ul class="list">
      <li class="item item-button-right" ng-repeat="item in items | filter:search" ng-click="goToItemDetail(item)">
        {{item.item.name}}
        <button class="button button-positive">
          <i class="icon ion-star"></i>
        </button>
      </li>
    </ul>
  </ion-content>

  <ion-content class="has-subheader" ng-show="search.item.name == ''">
    <div class="row categories" ng-repeat="rows in categories | partition:3">
      <a class="col category"
         href=""
         ng-repeat="category in rows"
         ng-style='{"background-color": category.color}'
         ng-click="gotoItemsList(category)">
        <div>
          <img ng-src="img/{{category.title}}.png" alt="" height="70">
          <!-- <i class="icon ion-leaf category-icon"></i> -->
        </div>
        {{category.title}}
      </a>
    </div>
  </ion-content>
</ion-view>