<ion-view title="Browse">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div class="row categories" ng-repeat="rows in categories | partition:2">
      <a class="col category" href="#/app/category/garden" ng-repeat="category in rows" ng-style='{"background-color": category.color}'>
        <div>
          <i class="icon ion-leaf category-icon"></i>
        </div>
        {{category.title}}
      </a>
    </div>

  </ion-content>
</ion-view>
