<ion-view title='<img src="img/logo-header.png" class="logo-header">' hide-back-button="true">

  <!-- search input -->

  <div class="bar bar-subheader item-input-inset search-input-container">
    <label class="item-input-wrapper">
      <div class="search-icon-wrapper">
        <i class="icon ion-search placeholder-icon custom-search-icon"></i>
      </div>
      <input class="js-searchField"
        ng-class="{'isLoading': isLoading}"
        type="search"
        placeholder="What would you like to recycle?"
        ng-model="search.item.name"
        ng-change="searchByString()"
        ng-focus="focusOnSearch()"
        ng-blur="blurOnSearch()">
    </label>
    <button class="button button-small button-energized" ng-hide="shouldShowCategories()" ng-click="clearSearchField()">
      Cancel
    </button>
  </div>

  <!-- content -->

  <ion-content class="has-subheader item-animate" ng-hide="shouldShowCategories()" overflow-scroll="true">
    <ul class="list">
      <li class="item item-avatar" ng-repeat="item in items" ng-click="goToItemDetail(item)">
        <img ng-src="http://recyclesmart.com.au/{{item.item.avatar.avatar.thumb.url}}">
        <h2>{{item.item.name}}</h2>
        <p>
          in
          <span>{{item.categoryList}}</span>
        </p>
      </li>
      <li ng-show="noSearchResult()">
        <div class="text-center no-result">
          <strong>Sorry, we couldn't find this item.</strong>
          <p>
            Our team is already working to add it to RecyclePedia.
          </p>
        </div>
      </li>
    </ul>
  </ion-content>

  <!-- Categories -->

  <ion-content class="has-subheader categoriesContainer" ng-show="shouldShowCategories()" resizable>

    <div class="row categories first-row" ng-repeat="c in categories track by $index" ng-if="$index % 3 == 0">

      <a class="col category"
         ng-repeat="i in [$index, $index + 1, $index + 2]"
         ng-if="categories[i] != null"
         ng-style='{"height": tilesHeight}'
         ng-click="gotoItemsList(i)">
        <div class="vertical-align-container">
          <div class="vertical-align-content">
            <span class="category-icon" style="background-image: url({{categories[i].img}})"></span> <!-- img/category-icons/130/automotive.png -->
            <div>{{categories[i].title}}</div>
          </div>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>

<script id="tutorial-categories-step-1.html" type="text/ng-template">
  <ion-popover-view class="walkthrough step-1" popover-position="bottom">
    <ion-header-bar>
      <h1 class="title">Quick search</h1>
    </ion-header-bar>
    <ion-content scroll="false" class="popover-content">
      To quickly find an item, simply <b>start typing the item name here and choose among suggestions</b>.
    </ion-content>
    <div class="bar bar-footer popover-footer">
      <div class="button-bar">
        <button class="button button-clear button-positive" ng-click="closeStep1()">Ok</button>
      </div>
    </div>
  </ion-popover-view>
</script>