<ion-view title='<img src="img/logo-header.png" class="logo-header">'  hide-back-button="true">
  <!-- <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons> -->
  <ion-content class="has-header">
    <ion-list>
      <a class="item item-avatar" ng-repeat="council in councils" href="" ng-click="saveCouncil(council)">
        <img src="img/ionic.png" ng-src="{{council.logoUrl}}">
        <h2>{{council.name}}</h2>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
