<ion-view title="Choose your council">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="card landing-page-card">
      <div class="item item-text-wrap">
        <img src="img/logo-rs.png" alt="" class="logo-landing-page">
        Please select your council from the list
      </div>
    </div>
    <ion-list>
      <a class="item item-avatar" ng-repeat="council in councils" href="" ng-click="saveCouncil(council)">
        <img src="img/ionic.png" ng-src="{{council.logoUrl}}">
        <h2>{{council.name}}</h2>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
