<ion-view title='<img src="img/logo-header.png" class="logo-header">'  hide-back-button="true">

  <!-- search input -->

  <div class="bar bar-subheader item-input-inset search-input-container">
    <label class="item-input-wrapper">
      <div class="search-icon-wrapper">
        <i class="icon ion-search placeholder-icon custom-search-icon"></i>
      </div>
      <input class="js-searchField"
        ng-class="{'isLoading': isLoading}"
        type="search"
        placeholder="Find your local council"
        ng-model="search.council.name"
        ng-change="searchByString()">
    </label>
    <button class="button button-small button-energized" ng-if="search.council.name != ''" ng-click="clearSearchField()">
      Cancel
    </button>
  </div>

  <ion-content class="has-subheader has-custom-footer">
    <ion-list>
      <a class="item item-avatar" ng-repeat="council in councils | filter:search.council.name" href="" ng-click="saveCouncil(council)">
        <img ng-src="{{council.logoUrl}}">
        <h2>{{council.name}}</h2>
      </a>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-light standard-configs">

    <div class="card">
      <div class="item item-divider">
        Or select your bin configuration
      </div>
      <div class="item no-padding">
        <div class="row no-padding">
          <div class="col col-50 config multi-stream-plus-green-bin">
            <a href="" ng-click="saveStandardConfig(0, $event)">
              <img src="img/bin-configurations/configuration-1.png">
            </a>
          </div>
          <div class="col col-50 config multi-stream-no-green-bin">
            <a href="" ng-click="saveStandardConfig(1, $event)">
              <img src="img/bin-configurations/configuration-4.png">
            </a>
          </div>
        </div>
        <div class="row no-padding">
          <div class="col col-50 config commingled-no-green-bin">
            <a href="" ng-click="saveStandardConfig(2, $event)">
              <img src="img/bin-configurations/configuration-2.png">
            </a>
          </div>
          <div class="col col-50 config commingled-plus-green-bin">
            <a href="" ng-click="saveStandardConfig(3, $event)">
              <img src="img/bin-configurations/configuration-3.png">
            </a>
          </div>
        </div>
      </div>
      </div>
    </div>
</ion-view>

<script id="tutorial-step-1.html" type="text/ng-template">
  <ion-popover-view class="walkthrough step-1">
    <ion-header-bar>
      <h1 class="title">Council search</h1>
    </ion-header-bar>
    <ion-content scroll="false" class="popover-content">
      Type in your Council or select from the list of Councils.
    </ion-content>
    <div class="bar bar-footer popover-footer">
      <div class="button-bar">
        <button class="button button-clear button-positive" ng-click="closeStep1()">Next</button>
      </div>
    </div>
  </ion-popover-view>
</script>

<script id="tutorial-step-2.html" type="text/ng-template">
  <ion-popover-view class="walkthrough step-2" popover-position="top">
    <ion-header-bar>
      <h1 class="title">Bin configurations</h1>
    </ion-header-bar>
    <ion-content scroll="false" class="popover-content">
      If you can't find your Council in the list then simply select which of the following bin configurations apply to you.
    </ion-content>
    <div class="bar bar-footer popover-footer">
      <div class="button-bar">
        <button class="button button-clear button-positive" ng-click="closeStep2()">Next</button>
      </div>
    </div>
  </ion-popover-view>
</script>

<script id="tutorial-step-3.html" type="text/ng-template">
  <ion-popover-view class="walkthrough step-3" popover-position="bottom">
    <ion-header-bar>
      <h1 class="title">Navigation menu</h1>
    </ion-header-bar>
    <ion-content scroll="false" class="popover-content">
      Tap this button to activate the navigation menu and select "Change Council" to return to this page at anytime.
    </ion-content>
    <div class="bar bar-footer popover-footer">
      <div class="button-bar">
        <button class="button button-clear button-positive" ng-click="closeStep3()">End</button>
      </div>
    </div>
  </ion-popover-view>
</script>