<ion-view title="{{item.item.name}}">
  <div class="bar bar-header bar-royal">
    <h1 class="title">Header</h1>
  </div>

  <ion-nav-buttons side="right">
    <button menu-toggle="right"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <div class="bar bar-subheader bar-dark">
    <h2 class="title">Dispose in {{item.correct_bin.colour}} bin</h2>
  </div>

  <!-- <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon">asd</button>
  </ion-nav-buttons> -->
  <ion-content class="has-subheader">
    <img class="full-image" src="{{item.avatarUrl}}">
    <div class="padding">
      <h3>Description</h3>
      <p>{{item.item.description}}</p>
      <h3>Please note</h3>
      <p>{{item.comments}}</p>
    </div>
  </ion-content>
</ion-view>
