<ion-view>

  <div class="bar bar-subheader bar-rs-blue">
    <!-- <h2 class="title">Dispose in {{item.correct_bin.colour}} bin</h2> -->
    <h2 class="title">{{item.item.name}}</h2>
  </div>

  <ion-content class="has-subheader">
    <div class="card correct-bin-card">
      <div class="item item-text-wrap no-padding">
        <div class="row no-padding">
          <div class="col col-75 no-padding correct-bin-text">
            {{disposeInstructions}}
          </div>
          <div class="col no-padding">
            <img class="correct-bin-img" ng-src="img/bins/{{item.correct_bin.colour}}.png">
          </div>
        </div>

      </div>
    </div>
    <div class="item-image" ng-style="{'background-image': 'url(' + item.avatarUrl + ')'}">
      <!-- <img ng-src="{{item.avatarUrl}}"> -->
    </div>
    <div class="padding">

      <div class="card no-margin item-description" ng-if="showDescription">
        <div class="item item-divider">
          Description
        </div>
        <div class="item item-text-wrap text-left" compile="item.item.description"></div>
      </div>

      <div class="card no-margin item-comments" ng-if="item.comments">
        <div class="item item-divider">
          How to Recycle Smart?
        </div>
        <div class="item item-text-wrap text-left" compile="item.comments"></div>
      </div>

    </div>
  </ion-content>
</ion-view>

<script id="tutorial-item-step-1.html" type="text/ng-template">
  <ion-popover-view class="walkthrough step-1" popover-position="bottom">
    <ion-header-bar>
      <h1 class="title">Disposal information</h1>
    </ion-header-bar>
    <ion-content scroll="false" class="popover-content">
      Here is where you can dispose of this item
    </ion-content>
    <div class="bar bar-footer popover-footer">
      <div class="button-bar">
        <button class="button button-clear button-positive" ng-click="closeStep1()">Ok</button>
      </div>
    </div>
  </ion-popover-view>
</script>

<script id="tutorial-item-step-2.html" type="text/ng-template">
  <ion-popover-view class="walkthrough step-2" popover-position="top">
    <ion-header-bar>
      <h1 class="title">Item description</h1>
    </ion-header-bar>
    <ion-content scroll="false" class="popover-content">
      Blablah
    </ion-content>
    <div class="bar bar-footer popover-footer">
      <div class="button-bar">
        <button class="button button-clear button-positive" ng-click="closeStep2()">Ok</button>
      </div>
    </div>
  </ion-popover-view>
</script>

<script id="tutorial-item-step-3.html" type="text/ng-template">
  <ion-popover-view class="walkthrough step-3" popover-position="top">
    <ion-header-bar>
      <h1 class="title">Tips and tricks</h1>
    </ion-header-bar>
    <ion-content scroll="false" class="popover-content">
      Blahblahba
    </ion-content>
    <div class="bar bar-footer popover-footer">
      <div class="button-bar">
        <button class="button button-clear button-positive" ng-click="closeStep3()">Ok</button>
      </div>
    </div>
  </ion-popover-view>
</script>
