<ion-view>

  <div class="bar bar-subheader bar-rs-blue">
    <!-- <h2 class="title">Dispose in {{item.correct_bin.colour}} bin</h2> -->
    <h2 class="title">{{item.item.name}}</h2>
  </div>

  <ion-content class="has-subheader">
    <div class="card correct-bin-card">
      <div class="item item-text-wrap no-padding">
        <div class="row no-padding">
          <div class="col col-75 no-padding correct-bin-text">
            {{disposeInstructions}}
          </div>
          <div class="col no-padding">
            <img class="correct-bin-img" ng-src="img/bins/{{item.correct_bin.colour}}.png">
          </div>
        </div>

      </div>
    </div>
    <div class="item-image" ng-style="{'background-image': 'url(' + item.avatarUrl + ')'}">
      <!-- <img ng-src="{{item.avatarUrl}}"> -->
    </div>
    <div class="padding">

      <div class="card" ng-if="showDescription">
        <div class="item item-divider">
          Description
        </div>
        <div class="item item-text-wrap text-left">
          {{item.item.description}}
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
