<ion-view title="{{material.name}}">
  <div class="bar bar-header bar-royal">
    <h1 class="title">Header</h1>
  </div>

  <div class="bar bar-subheader bar-dark">
    <h2 class="title">Dispose in red bin</h2>
  </div>

  <!-- <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon">asd</button>
  </ion-nav-buttons> -->
  <ion-content class="has-subheader">
    <img class="full-image" src="img/leaves.png">
    <div class="padding">
      <p>Place these at the top of your bin. Small prunings and clippings from your garden can aso be used for composting.</p>
    </div>
  </ion-content>
</ion-view>
