<ion-side-menus>

  <ion-pane ion-side-menu-content>

    <ion-nav-bar class="bar-light nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear">
        <i class="ion-chevron-left"></i> Back
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent" animation="slide-left-right-ios7"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="right">
    <header class="bar bar-header bar-light">
      <h1 class="title">{{selectedCouncil}}</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="" ng-click="gotoCategories()">
          <i class="icon ion-ios7-gear"></i> Categories
        </ion-item>
        <ion-item nav-clear menu-close ng-click="gotoCouncils()">
          <i class="icon ion-star"></i> Change Council
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
