<?xml version='1.0' encoding='utf-8'?>
<widget
  id="au.com.recyclesmart.recyclepedia"
  version="1.0.0"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0"
  xmlns:gap="http://phonegap.com/ns/1.0">
    <name>RecyclePedia</name>
    <description>
        A wiki app about recycling
    </description>
    <author
      email="enquiries@recyclesmart.com.au"
      href="http://recyclesmart.com.au">
      RecycleSmart Pty Ltd
    </author>
    <content src="index.html" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />

    <!-- Don't store local date in an iCloud backup. Turn this to "cloud" to enable storage
         to be sent to iCloud. Note: enabling this could result in Apple rejecting your app.
    -->
    <preference name="BackupWebStorage" value="none" />

    <preference name="Orientation" value="portrait" />

    <access origin="*" />

    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>

    <!-- <feature name="http://api.phonegap.com/1.0/file"/> -->
    <!-- <feature name="http://api.phonegap.com/1.0/device"/>
    <feature name="http://api.phonegap.com/1.0/network"/> -->

    <!-- <gap:plugin name="org.apache.cordova.file" /> -->
    <gap:plugin name="org.apache.cordova.device" />
    <!-- <gap:plugin name="org.apache.cordova.file-transfer" /> -->

    <feature name="Device">
      <param name="ios-package" value="CDVDevice" />
      <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
    <!-- <feature name="File">
      <param name="ios-package" value="CDVFile" />
      <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    </feature>
    <feature name="FileTransfer">
      <param name="ios-package" value="CDVFileTransfer" />
      <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
    </feature> -->

    <!-- Permissions -->

    <!--
      If you do not want any permissions to be added to your app, add the
      following tag to your config.xml; you will still have the INTERNET
      permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions" value="none"/>

    <!-- to enable individual permissions use the following examples -->
    <!-- <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/network"/> -->
    <!-- Icons -->

    <!-- iPhone / iPod Touch  -->
    <icon src="ios7/icon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="ios7/icon-60@2x.png" gap:platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="config/ios/icon-72.png" gap:platform="ios" width="76" height="76" />
    <icon src="config/ios/icon-72@2x.png" gap:platform="ios" width="144" height="144" />

    <!-- Spotlight Icon -->
    <icon src="config/ios7/icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="config/ios7/icon-40@2x.png" gap:platform="ios" width="80" height="80" />

    <!-- iPhone / iPod Touch -->
    <icon src="config/ios/icon.png" gap:platform="ios" width="57" height="57" />
    <icon src="config/ios/icon@2x.png" gap:platform="ios" width="114" height="114" />

    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="config/ios7/icon-Small.png" gap:platform="ios" width="29" height="29" />
    <icon src="config/ios7/icon-Small@2x.png" gap:platform="ios" width="58" height="58" />

    <!-- iPad Spotlight and Settings Icon -->
    <icon src="config/ios7/icon-Small-50.png" gap:platform="ios" width="50" height="50" />
    <icon src="config/ios7/icon-Small-50@2x.png" gap:platform="ios" width="100" height="100" />

    <!-- Android -->
    <icon src="config/android/drawable-ldpi/icon.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="config/android/drawable-mdpi/icon.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="config/android/drawable-hdpi/icon.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="config/android/drawable-xhdpi/icon.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="config/android/drawable-xxhdpi/icon.png" gap:platform="android" gap:qualifier="xxhdpi" />

    <!-- Windows phone -->
    <!-- <icon src="icon.png" gap:platform="winphone" />
    <icon src="tileicon.png" gap:platform="winphone" gap:role="background" /> -->

    <!-- Splash screens -->
    <gap:splash src="splash/ios/Default-568h@2x~iphone.png" gap:platform="ios" width="320" height="480" />
</widget>
