/* Empty. Add your own CSS if you like */

.landing-page-card {
  text-align: center;
}

.logo-landing-page {
  display: block;
  width: 128px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.item-text-wrap {
  text-align: center;
}

.categoriesContainer {
  margin-top: 0;
  /*border: 3px solid #626262;*/
}

.row.categories {
  padding: 0;
  border-bottom: 3px solid #626262;
  height: 25%;
}

.row.categories.last-row {
  border-bottom: none;
}

.row + .row {
  margin-top: 0;
}

.text-left {
  text-align: left;
}

.category {
  background-color: #ffffff;
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 0.9em;
  line-height: 13px;
  border-right: 3px solid #626262;
}

.category img {
  height: 65px;
}

.category.last {
  border: none;
}

.category-icon {
  width: 65px;
  height: 65px;
  display: inline-block;
}

.material-icon {
  max-height: 100%;
}

/* Fading animation */

.item-animate {
    opacity: 1;
 }

.item-animate.ng-hide-add,
.item-animate.ng-hide-remove {
  display: block !important;
  opacity: 0;
}

.item-animate.ng-hide-add {
  -webkit-animation: 0.5s hide;
  animation: 0.5s hide;
}

@keyframes hide {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-webkit-keyframes hide {
  from { opacity: 1; }
  to { opacity: 0; }
}

.item-animate.ng-hide-remove {
  -webkit-animation: 0.5s show;
  animation: 0.5s show;
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

/*Show spinner in search input during loading*/
.js-searchField.isLoading {
  background: url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif') no-repeat right center !important;
}

img.logo-header {
  margin-top: 9px;
  height: 28px;
}

/*Style search field*/
.search-input-container {
  background-color: #54a0d4;
  padding: 5px;
  height: 50px;
}

.item-input-wrapper {
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 3px;
}

.custom-search-icon {
  font-size: 22px;
  background-color: #e97a24;
  border-radius: 50%;
  color: #fff;
  width: 33px;
  height: 30px;
  text-align: center;
}

.button.button-energized {
  background-color: #e97a24;
}

.has-subheader {
  top: 94px;
}

.placeholder-icon:first-child {
  padding: 0;
}

/* Footer with standard configurations */

.standard-configs {
  height: 200px;
  display: block;
  padding: 0;
}

.standard-configs .card {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.has-custom-footer {
  bottom: 150px;
}

.config.multi-stream-plus-green-bin {
  /*background-image: url('../img/bin-configurations/configuration-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;*/
  border-right: 1px solid #626262;
  border-bottom: 1px solid #626262;
}

.config.commingled-no-green-bin {
  /*background-image: url('../img/bin-configurations/configuration-2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;*/
  border-left: 1px solid #626262;
  border-bottom: 1px solid #626262;
}

.config.multi-stream-no-green-bin {
  /*background-image: url('../img/bin-configurations/configuration-3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;*/
  border-right: 1px solid #626262;
  border-top: 1px solid #626262;
}

.config.commingled-plus-green-bin {
  /*background-image: url('../img/bin-configurations/configuration-4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;*/
  border-left: 1px solid #626262;
  border-top: 1px solid #626262;
}

.config {
  height: 81px;
}

.config a {
  display: block;
  width: 100%;
  height: 100%;
}

.config img {
  max-width: 100%;
  max-height: 100%;
}

/* iPad in portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

}
